button {
  width: 100px;
  color: black;
  padding: 10px 20px;
}

.centerContainer {
  margin: 0 auto;
  max-width: 450px;
  text-align: center;
}

.ulList {
  list-style: none;
  display: flex;
  align-content: center;
  align-items: center;
}

.liList {
  width: 150px;
}

.green {
  background-color: rgb(153, 255, 127);
}

.yellow {
  background-color: rgba(255, 232, 127, 0.678);
}

.red {
  background-color: brown;
}
